*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #131417;
    height: 100vh;
    display: flex;
    align-items: center;
    color: #fff;
}

.container{
    background-color: #1e1f26;
    width: 30%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgb(255, 255, 255) 0px  5px 45px;
}

.passwordInput{
    background-color: #2d2f3e;
    width: 93%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.password{
    color: #fff;
    background-color: #2d2f3e;
    width: 93%;
    height: 45px;
    border-radius: 5px;
    border: none;
    text-align: center;
    font-size: large;
    outline: none;
    cursor: pointer;    
}

img{
    margin: .6rem;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

img:hover{
    padding: 2px;
}

h2{
    margin-bottom: 1rem;
}

.inputContainer{
    background-color: #2d2f3e;
    width: 92%;
    height: 50px;
    display: flex;
    align-items: center;
    margin: auto;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
    padding: 0rem .4rem;
    font-size: large;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

input[type=range] {
    -webkit-appearance: none;
    width: 68%; 
    height: 11px;
    background: #1e1f26;
    border-radius: 5px;
    display: inline-block;
    margin-right: 3px;
    cursor: pointer;
}
  
  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }
  
  input[type=range]:focus {
    outline: none; 
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;
    background: transparent; 
    border-color: transparent;
    color: transparent;
  }
  
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer; 
  }
  
input[type=range]::-moz-range-thumb {
    border-radius: 50%;
    cursor: pointer;
  }
  
input[type=range]::-ms-thumb {
    border-radius: 50%;
    cursor: pointer;
}

.lengthSpan{

}

.toggle {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #1e1f26;
    border-radius: 10px;
    cursor: pointer;
}

.toggle:before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: transform 0.3s;
}

input[type="checkbox"] {
    visibility: hidden;
}

input[type="checkbox"]:checked + .toggle:before {
    transform: translateX(20px);
    background-color: #fff;
}

input[type="checkbox"]:not(:checked) + .toggle {
    background-color: #7a7777aa;
}

.button{
    display: flex;
    justify-content: center;
}
button{
    width: 95%;
    height: 40px;
    font-size: medium;
    border-radius: 5px;
    background-color: #2d2f3e;
    margin-top: 1rem;
    color: #fff;
    border: none;
    cursor: pointer;
}
button:hover{
    border: 2px solid #ccc;
}